.cart-section {
    position: fixed;
    top: -50px;
    right: -400px;
    width: 400px;
    height: 100%;
    background: white;
    z-index: 999;
    transition: .3s ease;
    padding: 24px;
    overflow-y: auto;
    box-shadow: -10px 0 30px rgba(0,0,0,.08);
}

.cart-section.active {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-cart {
    border: none;
    background: transparent;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    transition: .2s ease;
}


.cart-overlay {
    border: 1px solid;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.4);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.cart-overlay.active {
    opacity: 1;
    visibility: visible;
}

.floating-cart {
    position: fixed;
    bottom: 24px;
    right: 54px;
    width: 60px;
    height: 60px;
    /* border-radius: 50%; */
    border: none;
    background: transparent;
    color: black;
    font-size: 27px;
    font-weight: 700;
    cursor: pointer;
    /* z-index: 1000; */
    transition: 0.3s ease;
}
.floating-cart.bump {
    animation: bump 0.3s ease;
}

@keyframes bump {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}