@import url("./base/reset.css");
@import url("./base/variables.css");

@import url("./layout/navbar.css");
@import url("./layout/hero.css");

@import url("./layout/product.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f6f1ea;
    font-family: sans-serif;
}

.app-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}