@import url("./base/reset.css");
@import url("./base/variables.css");

@import url("./layout/navbar.css");
@import url("./layout/hero.css");

@import url("./layout/product.css");
@import url("./layout/cart.css");
@import url("./layout/why-us.css");
@import url("./layout/testimonial.css");
@import url("./layout/footer.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #eed6b4;
    font-family: sans-serif;
}

main.app-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
}